form {
    width: 1000px;
    margin: 0 auto;
    text-align: left;
}

input, textarea, select {
    margin-top: 5px;
    margin-bottom: 10px;
    margin-right: 30px;
}

.form_region {
    border: 2px solid gray;
    padding: 20px;
}

.form_row {
    display: block;
}

.form_conditional_group {
    padding-left: 50px;
}